.main-container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  .top__buttons {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    .top__buttons__left {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px;
    }
  }
  .filters__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    .f__c__checkbox__group {
      width: 100%;
      min-width: 8rem;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      gap: 10px;
    }

    .f__c__input {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      gap: 10px;

      .f__c__input__button {
        width: 100%;
      }
    }
  }
}
